.light-text {
  color: white;
  opacity: 0.7; }

@media screen and (max-width: 768px) {
  .m-t-md-2 {
    margin-top: 2em; } }

.rel-opl {
  position: relative;
  top: -90px; }

@media screen and (max-width: 767px) {
  .dam {
    display: none; } }

@media screen and (max-height: 767px) {
  .p-l-0-mobile {
    padding-left: 0px !important; } }

.full-page-background {
  background: url("/img/primary_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

html, body {
  width: 100vw;
  height: 100vh; }

.full-page {
  width: 100%;
  height: 100%; }

.extend-full-height {
  height: 100%; }

.primary-container {
  width: 60vw;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%); }

.cta-container {
  @warning ("Utilizing _login_container_generateCTAClusterContainer requires the mixin");
  @warning ("_login_container_CTAPrerequisite to be defined.");
  padding-left: 30px;
  padding-right: 30px;
  background: rgba(255, 255, 255, 0.45);
  color: white;
  font-weight: 800;
  border-radius: 10px;
  height: 200px;
  width: 100%; }

.email-address-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.password-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.login-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
