.light-text {
  color: white; }

@media screen and (max-width: 768px) {
  .m-t-md-2 {
    margin-top: 2em; } }

.rel-opl {
  position: relative;
  top: -90px; }

@media screen and (max-width: 767px) {
  .dam {
    display: none; } }

@media screen and (max-height: 767px) {
  .p-l-0-mobile {
    padding-left: 0px !important; } }

.full-page-background {
  background: url("/img/primary_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

html, body {
  width: 100vw;
  height: 100vh; }

.full-page {
  width: 100%;
  height: 100%; }

.primary-container {
  width: 50vw;
  height: 50vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%); }
