include ../../utility/component-lib/_login_container_generateContainer.pug
include ../../utility/component-lib/_login_background_generateBackground.pug
body
  +_login_background_generateBackground("full-page", "full-page-background")
    +_login_container_generateCenteredContainer("primary-container")
      .row
        .col-md-12
          i(class=["fa", "fa-tree fa-2x"] aria-hidden="true")
      .row.m-t-1
        .col-md-6
          h1.light-text Lorem ipsum is a lorem ipsum iorem ipsum lorem ipsum.
      .row.m-t-1
        .col-md-12
          +_login_container_generateClusterContainer("cta-container")
            .col-md-5.extend-full-height
              +_login_container_generateVCenteredElementContainer("email-address-container")
                .form-group
                  input(type="email" class=["form-control", "materialize-form"], id="email-input", placeholder="Enter your email")
                  label(for="emailAddress" class="label") Email Address:
            .col-md-5.extend-full-height
              +_login_container_generateVCenteredElementContainer("password-container")
                .form-group
                  input(type="email" class=["form-control", "materialize-form"], id="email-input", placeholder="Enter your password")
                  label(for="emailAddress" class="label") Password:
            .col-md-2.extend-full-height
              +_login_container_generateVCenteredElementContainer("login-container")
                .form-group
                  a(class=["btn", "btn-login"]) Login
                  label(class=["consistency-hide"] for="btn") Password: