//This mixin corresponds to the mixins contained within
//sass/component/container/.  container::generateContainer
//takes a simple selector and generates it.
mixin _login_container_generateContainer(selectorName)
  .selectorName
    block

