@mixin _login_container_generateCenteredContainer($selector, $widthAsPercent, $heightAsPercent) {
    #{$selector} {
	width: $widthAsPercent;
	height: $heightAsPercent;

	position: absolute;

	left: 50%;
	top: 50%;

	transform: translateY(-50%) translateX(-50%);
    }
}
