@mixin _login_container_generateCenteredContainer($selector, $widthAsPercent, $heightAsPercent) {
    #{$selector} {
	width: $widthAsPercent;
	height: $heightAsPercent;

	position: absolute;

	left: 50%;
	top: 50%;

	transform: translateY(-50%) translateX(-50%);
    }
}

@mixin _login_container_generateClusterContainer($selector, $height, $width) {
    #{$selector} {
	@warning("Utilizing _login_container_generateCTAClusterContainer requires the mixin");
	@warning("_login_container_CTAPrerequisite to be defined.");
	@include _login_container_generateCTAClusterContainer
	height: $height;
	width: $width;
    }
}

@mixin _login_container_generateCenteredElement($selector, $isForm, $formSelector: null) {
    #{$selector} {
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	@if ($isForm) {
	    #{$formSelector}{
	    display: flex;
	    flex-direction: column-reverse;
	    align-items: flex-start;
	    }
	}
    }
}

